body {
  margin: 0 auto;
  background-color: hsl(218, 23%, 16%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.container {
  background-color: hsl(217, 19%, 24%);
  padding: 2rem;
  border-radius: 15px;
  text-align: center;
  max-width: 400px;
  width: 90%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.number {
  color: hsl(150, 100%, 66%);
}

.text {
  color: hsl(193, 38%, 86%);
  font-weight: 800;
  font-size: 30px;
}

.img {
  background-color: hsl(150, 100%, 66%);
  margin-top: 8px;
}

.lining {
  display: block;
  margin: 1.5rem auto;
  width: 100%;
  max-width: 100%;
}

.btn {
  background-color: hsl(150, 100%, 66%);
  border-radius: 50%; /* Makes it a circle */
  padding: 1rem;
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin-left: 165px;
  margin-top: 2rem;
}

.btn:hover {
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 15px rgba(83, 255, 170, 0.5);
}

.attribution {
  position: fixed;
  bottom: 10px;
  width: 100%;
  text-align: center;
  font-size: 0.75rem;
  color: #ccc;
  z-index: 999;
}
@media (max-width: 375px) {
  .btn {
    margin-left: 112px;
    background: red;
  }
}
